* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

.main__container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 52px;
    height: var(--height);
    display: inline-block;
    min-width: 150px;
    background: #212832;
    border-radius: 6px;
    line-height: var(--height);
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 20px;
}
.btn:hover {
    opacity: 0.9;
}

.header {
    padding-top: 42px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navbar-list {
    display: flex;
}

.navbar__link {
    display: inline-block;
    padding: 16px 23px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #212832;
    text-decoration: underline;
    text-decoration-color: #7264d6;
}

.header__action-btn {
    min-width: 113px;
}

/* Hero */

.hero {
    padding-top: 76px;
}
.header {
    background-color: #fff;
    position: sticky;
    z-index: 1;
    top: -42px;
}
.hero__inner {
    display: flex;
    align-items: center;
    gap: 160px;
}
.hero__right {
    width: 48%;
    position: relative;
}

.hero__left {
    flex: 1;
    flex-shrink: 0;
}
.hero__left-title {
    display: flex;
    column-gap: 12px;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px; /* 175% */
}

.hero__left-title::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero__left-heading {
    width: 500px;
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
}

.hero__left-heading > span {
    color: #7264d6;
}

.hero__left-desc {
    width: 540px;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero-form {
    display: flex;
    align-items: center;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    transition: 0.25s;
}

.hero-form:hover {
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
    outline: none;
    padding: 0 22px;
}

.hero-form__submit {
    margin-right: 8px;
    height: 58px;
    background: #7264d6;
    border: 1px solid #7264d6;
}

.hero-left__comment {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}

.hero__right-thumb {
}

.hero__right-img {
    width: 296px;
    height: 562px;
}

.hero-deposit {
    position: absolute;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    top: 113px;
    left: -100px;
}

.hero-deposit__desc {
    margin-left: 6px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px; /* 100% */
}

.hero-deposit__price {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.hero-interest {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
    top: 127px;
    right: -44px;
}
.hero-interest__inner {
    text-align: center;
}

.hero-interest__title {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.hero-secured {
    display: flex;
    position: absolute;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    padding: 20px 15px;
    gap: 11px;
    bottom: 61px;
    right: 98px;
}

.hero-secured__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 14px; /* 100% */
}

.hero-secured__desc {
    width: 64px;
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 8px; /* 100% */
}

/* work */

.work {
    margin-top: 160px;
}

.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-media {
    width: 48%;
}

.work-content {
    width: 470px;
    margin-top: 30px;
}

.work-media__thumb {
    position: relative;
}
.work-media__thumb::before {
    bottom: 0;
    position: absolute;
    z-index: -1;
    content: url(/assets/img/work__img/before__bg.svg);
}

.work-media__img {
    display: block;
    width: 456px;
    height: 619px;
    object-fit: cover;
}

.work-media__card {
    position: absolute;
    top: 76px;
    left: 334px;
}

.work-media__congratulations {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 226px;
    height: 77px;
    padding: 15px 30px 15px 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    bottom: 96px;
    right: -5px;
}

.congratulation__wrap-title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.congratulation__wrap-desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
}

.work-content__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
}

.work-content__inner {
    margin-top: 70px;
    display: grid;
    row-gap: 30px;
}

.work-content__cta-title {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 32px; /* 145.455% */
}

.work-content__cta-desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

/* Feature */

.feature {
    margin-top: 160px;
}
.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 160px;
    column-gap: 130px;
}

.feature-content__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px; /* 125% */
}

.feature-content__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.feature-list {
    margin-top: 28px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.feature-item::before {
    display: inline-block;
    background: #7264d6;
    border-radius: 50%;
    content: "";
    width: 12px;
    height: 12px;
}

.feature__btn {
    margin-top: 38px;
}
.feature__media {
    position: relative;
}

.feature__media-thumb {
    width: 482px;
    height: 322px;
    border-radius: 20px;
}

.feature__media-img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.feature-payment {
    top: -48px;
    right: -88px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 276px;
    column-gap: 67px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-payment__inner {
    display: flex;
    align-items: center;
}

.feature-payment__wrap {
    width: 76px;
}
.feauture-payment__title {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}

.feauture-payment__desc {
    margin-top: 4px;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
}

.feature-income {
    position: absolute;
    bottom: -55px;
    right: -42px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
}

.feature-income__desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.feature-income__price {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 6px;
    font-weight: 600;
}

.feature__media-thumb-two {
    width: 413px;
}

.feature__media-thumb-two::before {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    content: url(/assets/img/feature__img/bg.svg);
}

.feature-payment-menthod {
    bottom: 57px;
    right: -74px;
    padding: 28px;
    position: absolute;
    width: 281px;
    height: 220px;
    background: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature-payment-menthod__heading {
    text-align: center;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.feature-payment-method__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.feature__media-decor {
    right: -104px;
    z-index: 1;
    bottom: 218px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: #7264d6;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
}

.feature__content:nth-of-type(2) {
    width: 470px;
    margin-left: auto;
}

/* Clients */

.client {
    margin-top: 160px;
}
.client-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.client-header__heading {
    color: #212832;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px; /* 125% */
}

.client-header__desc {
    width: 435px;
    text-align: center;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.client__inner {
    margin-top: 70px;
}

.client__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.client-item__quotes {
    position: relative;
    padding: 42px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 570px;
    height: 314px;
    background: #fff;
    color: #696d76;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
    margin-bottom: 88px;
    transition: 0.25s;
}

.client-item__quotes::after {
    bottom: -88px;
    position: absolute;
    content: "";
    rotate: 180deg;
    border-width: 45px 38px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.client-item__quotes::after:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}
.client-item__quotes:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-author__thumb {
    width: 104px;
    height: 104px;
    border-radius: 52px;
    background: #4ab5e3;
}

.client-author__avatar {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.client-author__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
}

.client-author__job {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.client-author__thumb-two {
    background: #439f90;
}

.client__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.client__dot {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
}

.client__dot--active {
    background: #7264d6;
    border: 1px solid #7264d6;
}

/* Our */

.our {
    margin-top: 160px;
}

.our-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-header-wrap__header {
    margin-top: 6px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px; /* 125% */
}

.our-header-inner_desc {
    margin-top: 18px;
    width: 435px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.our-header-wrap__btn {
    min-width: 123px;
}

.our-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.our-item__thumb {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.our-item__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.our-item {
    column-gap: 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    padding: 28px;
    display: flex;
    align-items: center;
}

.our-item-content__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.our-item-content_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.our-item-content__more {
    display: block;
    margin-top: 20px;
    color: #7264d6;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* Our app */

.our-cta {
    margin-top: 160px;
    padding: 100px 0;
    background: #7264d6;
}

.our-cta-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-cta__fix-title {
    color: #ffffff;
}
.our-cta__fix-title::before {
    background: #ffffff;
}
.our-cta__heading {
    margin-top: 12px;
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px; /* 125% */
}

.our-cta__desc {
    margin-top: 1.8rem;
    text-align: center;
    width: 435px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.our-cta-action {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
    align-items: center;
}
.our-cta-action__btn {
    cursor: pointer;
}
.our-cta-action__btn:hover {
    opacity: 0.8;
}

/* footer */

.footer {
    padding: 100px 135px 28px;
    background: #fafbff;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 163px;
}

.footer__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.footer__list {
    margin-top: 24px;
}

.footer__link {
    display: block;
    margin-bottom: 10px;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.footer__link-fix {
    width: 371px;
}

.footer__link-phone {
    margin: 70px 0 0;
}
.footer__link-email {
    margin: 288px 0 0;
}

.subscribe-form {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.subscribe-form__input {
    width: 270px;
    height: 52px;
    border: 1px solid #8e919a;
    border-radius: 6px;

    outline: none;
    padding: 0 12px;
}
.subscribe-form__input::placeholder {
    color: #8e919a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.search-form__submit {
    min-width: 113px;
    height: 52px;
    background: #7264d6;
    border: 1px solid #7264d6;
}
.footer__heading-form {
    margin: 38px 0 24px;
}

.footer__cpr {
    text-align: center;
    padding: 28px 0;
    background: #7264d6;
}

.cpr {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
